*{
  margin:0;
  padding:0;
}

#canvas,#canvas_tracks,#canvas_temp{
  width:1200px;
  height:800px;
  position:absolute;
}
#canvas{
  opacity:1;
}
#canvas_tracks{
  background-image:url('Dirt6.png');
  background-size:cover;
}
#controls{
  position:absolute;
  top:800px;
  left:0px;
}
button{
  font-size: 1.5em;
  background-color: #222;
  color:#eee;
  border-radius: 5px;
}
button:hover{
  cursor:pointer;
}
.health{
  width:20px;
  height:20px;
  background-color:green;
} 
